#carousel {
    max-height: 400px;
}

#searchBar {
    align-content: center;
}
body {
    background-color:#9DBBAE;
}
h2 {
    font-size:40px;
    font-family: 'Abril Fatface', cursive
}
h5 {
    font-family: 'Righteous', cursive;
    font-size:60px;
}
p {
    font-size:18px;
}

/* iframe { width:"560";
    height:"315";
    border:"0";
}; */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

