/* #carousel {
    max-height: 400px;
} */

.row {
    display: inline;
}

.navbar-light {

    background-color:#e1f2fe;
}

.navbar-dark {
    background-color:#769fb6;
    color:white;

}

.navbar {
    justify-content:center;
}

.form-inline {
    width:100%;
}

#event-title {
    text-align: center;
}

/* #searchform {
    align-content: center;
} */

/* .jumbotron {
    background-color:#769fb6;
    height:60px;
    color:white;
    margin-top:-70px;
    padding-bottom:auto;
    margin-bottom:-1px;
} */

.bad-carousel {
    width:100%;

}

#searchBtn {
    background-color: #769FB6;
    width:100%;
}

#searchDrop {
    background-color:#769FB6;
    width:100%;
}

#radiusBtn {
    background-color: #769FB6;
    width:60%;
}

.search {
    width:100%;
    padding: 0 0 0 10px;
    /* background-color: #E2DBBE; */
}

.searchWrapper {
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
    background-color: rgb(182, 185, 187);
}

.btn-primary{
    background-color: #769fb6;
    margin: 10px 0;
}

.button {
    float: center;
}

.btn-outline-success {
    color: black;
    border-color: black;
}

.btn-outline-success:hover {
    color: white;
    background: #769FB6;
    border-color: white;
}

body {
    background-color:#e1f2fe;
}
h1{
    font-family: 'Megrim', cursive;
    text-align:center;
}
h2 {
    font-size:40px;
    font-family: 'Abril Fatface', cursive
}
h4 {
    font-size:35px;
}
h5 {
    font-family: 'Megrim', cursive;
    font-size:60px;
}
h6 {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color:#373e40;
}
p {
    font-size:18px;
    margin: 0;
}
.radio-buttons {
    font-size:15px;
}
#youtube {
    text-align:right;
}

/* iframe { width:"560";
    height:"315";
    border:"0";
}; */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#events {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    padding: 10px;
}

.eventDetails {
    font-size:14px;
}

/* .v1 {
    border-left: 1px solid #E2DBBE;
    height: 200px;
    position: absolute;
    left: 36%;
    margin-left: -3px;
    top: 150px;
  } */


/* styling for the graph */
#xaxis .domain {
fill: none;
stroke: #000;
}

#xaxis text,
#yaxis text {
font-size: 12px;
}
  /* modal style formatting  */
  .modal-title{
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
  }
  .modal-body{
    font-family: 'Righteous', cursive;
    font-size:20px;
  }
  
 
