/* #carousel {
    max-height: 400px;
} */

.row {
    display: inline !important;
}

.navbar-light {
    background-color:#769fb6 !important;
}

.navbar {
    justify-content:center;
}

.form-inline {
    width:100%;
}

#event-title {
    text-align: center !important;
}

/* #searchform {
    align-content: center;
} */

/* .jumbotron {
    background-color:#769fb6;
    height:60px;
    color:white;
    margin-top:-70px;
    padding-bottom:auto;
    /* margin-bottom:-1px; */
/* } */

.display-4 {
    color: white;
}

#searchBtn {
    background-color: #769FB6;
    width:100%;
}

#radiusBtn {
    background-color: #769FB6;
    width:60%;
}

.search {
    width:100%;
    padding: 0 0 0 10px;
    /* background-color: #E2DBBE; */
}

.searchWrapper {
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
    background-color: rgb(182, 185, 187);
}

.button {
    float: center;
}

.btn-outline-success {
    color: black;
    border-color: black;
}

.btn-outline-success:hover {
    color: white;
    background: #769FB6;
    border-color: white;
}

body {
    background-color:#9DBBAE;
}
h1{
    font-family: 'Megrim', cursive;
    text-align:center;
}
h2 {
    font-size:40px;
    font-family: 'Abril Fatface', cursive
}
h4 {
    font-size:40px;
}
h5 {
    font-family: 'Righteous', cursive;
    font-size:60px;
}
p {
    font-size:18px;
    margin: 0;
}
#youtube {
    text-align:right;
}

/* iframe { width:"560";
    height:"315";
    border:"0";
}; */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#events {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    padding: 10px;
}

/* Event Details Page Formatting */


img {
    height: 300px;
    width: 300px;
}

.myRow {
    display: flex !important;
    align-items: space-between;
}

#searchPic {
    /* position: relative; */
    /* display: inline-block !important; */
    /* float: left !important; */
    /* z-index: 100 !important; */

}


#searchResults {
    background-color: rgb(235, 232, 224);
    /* padding: 50px; */
    /* word-wrap: break-word; */
    /* display: inline-block !important; */
    /* float: left !important; */


}

/* .v1 {
    border-left: 1px solid #E2DBBE;
    height: 200px;
    position: absolute;
    left: 36%;
    margin-left: -3px;
    top: 150px;
  } */